%div
  .container-fluid
    .row
      = render 'shared/header'
      .show-main
        .side
          .side__categories
            .top
              .top__title
                %i.far.fa-folder
                %p Category 一覧
            .center
              .category-contents
                .category-box.category-box-first
                  .category-title
                    %p HTML
                .category-box
                  .category-title
                    %p CSS
                .category-box
                  .category-title
                    %p Ruby
                .category-box
                  .category-title
                    %p rails
                .category-box
                  .category-title
                    %p JavaScript
                .category-box
                  .category-title
                    %p php
                .category-box
                  .category-title
                    %p エラー対処
                .category-box
                  .category-title
                    %p Linux
                .category-box
                  .category-title
                    %p mysql
                .category-box
                  .category-title
                    %p DB設計
                .category-box
                  .category-title
                    %p Python
                .category-box
                  .category-title
                    %p haml
                .category-box
                  .category-title
                    %p scss
                .category-box
                  .category-title
                    %p gem関連
                .category-box
                  .category-title
                    %p form関連
                .category-box
                  .category-title
                    %p API
            .bottom
              = link_to "#" do
                .createCategoryBtn
                  %i.fas.fa-folder-plus
                  %p カテゴリーを追加する 
          .side__sources
            .center
              = link_to new_source_path do
                .createSourceBtn
                  %i.fas.fa-plus
                  %p 新規Source記事
              .source-contents
                .source-box
                  = link_to "#" do
                    .source-title
                      %p Haml の書き方
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p fontawsomeに関して
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p flexbox チートシート
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p 擬似クラス 一覧
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p BEM記法 初心者
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p html タグ一覧
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p materialize わかりやすく解説
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p bootstrap とは
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p web デザイン　参考
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p materialize わかりやすく解説
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p bootstrap とは
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
                .source-box
                  = link_to "#" do
                    .source-title
                      %p web デザイン　参考
                  = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                    %i.fas.fa-external-link-alt
        .body-contents
          .sub-header
            .board-title
              %h1 プログラミング
            -# = link_to new_source_path do
            -#   .createSourceBtn
            -#     %i.fas.fa-plus
            -#     %p 新規Source記事
          .body
            .source-top
              = link_to "https://qiita.com/watak676/items/525ad3d8a1297e3244e3" do
                .source-top__title
                  %h2 Haml の書き方
              .source-top__category
                %i.far.fa-folder
                %p HTML
            .center
              .text
                %p 
                  ＜コード解説＞
                  %br
                  1. !!!
                  %br
                  <!DOCTYPE html>を表す
                  %br
                  %br
                  2. %
                  %br
                  タグの前に%を付けると< 開始タグ >と< 終了タグ >を表す。
                  %br
                  %br
                  3. インデントを必ず入れる
                  %br
                  入れ子構造にする時は字下げを必ず同じスペース分入れる。
                  %br
                  ちなみに私の場合はRubyが主ですがその他プログラムでも記述するときは字下げ（タブ幅）を2にしています。だいたい4つスペースか2つスペースなんかが一般的でしょうか。
                  %br
                  %br
                  4. 属性を入れる場合
                  %br
                  Ruby風に{}とシンボルで書ける。
                  %br
                  尚、HTML風に書くなら「%html(lang="ja")」
                  %br
                  ＜コード解説＞
                  %br
                  1. !!!
                  %br
                  <!DOCTYPE html>を表す
                  %br
                  %br
                  2. %
                  %br
                  タグの前に%を付けると< 開始タグ >と< 終了タグ >を表す。
                  %br
                  %br
                  3. インデントを必ず入れる
                  %br
                  入れ子構造にする時は字下げを必ず同じスペース分入れる。
                  %br
                  ちなみに私の場合はRubyが主ですがその他プログラムでも記述するときは字下げ（タブ幅）を2にしています。だいたい4つスペースか2つスペースなんかが一般的でしょうか。
                  %br
                  %br
                  4. 属性を入れる場合
                  %br
                  Ruby風に{}とシンボルで書ける。
                  %br
                  尚、HTML風に書くなら「%html(lang="ja")」
                  %br
                  ＜コード解説＞
                  %br
                  1. !!!
                  %br
                  <!DOCTYPE html>を表す
                  %br
                  %br
                  2. %
                  %br
                  タグの前に%を付けると< 開始タグ >と< 終了タグ >を表す。
                  %br
                  %br
                  3. インデントを必ず入れる
                  %br
                  入れ子構造にする時は字下げを必ず同じスペース分入れる。
                  %br
                  ちなみに私の場合はRubyが主ですがその他プログラムでも記述するときは字下げ（タブ幅）を2にしています。だいたい4つスペースか2つスペースなんかが一般的でしょうか。
                  %br
                  %br
                  4. 属性を入れる場合
                  %br
                  Ruby風に{}とシンボルで書ける。
                  %br
                  尚、HTML風に書くなら「%html(lang="ja")」
                  %br