%div.sources-new
  .container-fluid
    .row
      = render 'shared/header'
      .new-main
        = form_with(model:@source, local: true) do |f|
          .sourceCreate
            .sourceCreate__title
              %p 新規 Source記事
            .sourceCreate__form
              .form-contents
                .form
                  %p カテゴリー
                  .select-box
                    = f.select :category_id,@board.map{|category|["#{category.name}",category.id]},{prompt: "---"}, class:"value", autofocus: true
                .form
                  %p タイトル
                  = f.text_field :title, class:"value", placeholder:"タイトルを入力"
                .form
                  %p URL
                  = f.text_field :url, class:"value", placeholder:"URLを入力"
                .form
                  %p 記事内容
                  = f.text_area :text, class:"value text-form", placeholder:"記事内容を入力"
                .form_board-id
                  = f.text_field :board_id,value:"#{@board_id}"
                .submit
                  = f.submit "作成する", class:"submit__btn"