%div
  .container-fluid
    .row
      = render 'shared/header'
      .show-main
        .side
          .side__categories
            .top
              .top__title
                %i.far.fa-folder
                %p Category 一覧
            .center
              #category-contents.category-contents
                - i = 0
                -  while i < @board.length
                  #category-box.category-box(data-id="#{@board[i].sources.ids}")
                    .category-title
                      %p
                        = @board[i].name
                  - i += 1
            .bottom
              = link_to new_category_path(params[:id]) do
                .createCategoryBtn
                  %i.fas.fa-folder-plus
                  %p カテゴリーを追加する
          .side__sources
            .center
              = link_to new_source_path(params[:id]) do
                .createSourceBtn
                  %i.fas.fa-plus
                  %p 新規Source記事
              #source-contents.source-contents
        .body-contents
          .sub-header
            .board-title
              %h1 
                = @board_id.name
          #body.body
