.users-edit
  .error-message
    %p 入力方法・内容に誤りがございます。
    %p お手数ではありますが、ご入力された内容を再度ご確認下さいませ。
  .new-main
    = link_to :back do
      .back-btn
        .submit-back
          %i.far.fa-times-circle
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .sourceCreate
        .sourceCreate__title
          %p Profile
        .sourceCreate__form
          .form-contents
            .form
              %p ニックネーム
              = f.text_field :nickname,autofocus: true, class:"value"
            .form
              %p メールアドレス
              = f.email_field :email, autocomplete: "email", class:"value"
            .form
              %p 姓
              = f.text_field :family_name, class:"value"
            .form
              %p 名
              = f.text_field :first_name, class:"value"
            .form
              %p 姓(カナ)
              = f.text_field :family_name_kana, class:"value"
            .form
              %p 名(カナ)
              = f.text_field :first_name_kana, class:"value"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form
              %p.any パスワードを変更する
              = f.password_field :password, autocomplete: "new-password", placeholder:"変更しない場合は空白（ ６文字以上 ）", class:"value"
            .form
              %p.any パスワードを変更する(確認)
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"変更しない場合は空白", class:"value"
            .form.form_current-password
              %p 現在のパスワード
              = f.password_field :current_password, autocomplete: "current-password", placeholder:"６文字以上", class:"value"

          .submit
            = f.submit "更新する", class:"submit__btn"
    
    .submit.delete-account
      %p
        アカウント情報の削除
      %form.button_to{:action => "/users", :method => "post"}
        %input{:name => "_method", :type => "hidden", :value => "delete"}
        %input.cancel-btn{"data-confirm" => "本当に退会しますか？退会手続きを行うと今まで保存した内容の全てが失われます。", :type => "submit", :value => "退会する"}
        %input{:name => "authenticity_token", :type => "hidden", :value => "${gon.authenticity_token}"}
