%div.users-show
  .container-fluid
    .row
      = render 'shared/header'
      .new-main
        .sourceCreate
          .sourceCreate__title
            %p プロフィール
          .sourceCreate__form
            .form-contents
              .form
                %p ニックネーム
                .value
                  = current_user.nickname
              .form
                %p メールアドレス
                .value
                  = current_user.email
              .form
                %p 姓
                .value
                  = current_user.family_name
              .form
                %p 名
                .value
                  = current_user.first_name
              .form
                %p 姓(カナ)
                .value
                  = current_user.family_name_kana
              .form
                %p 名(カナ)
                .value
                  = current_user.first_name_kana
            .submit__btn
              = link_to edit_user_registration_path do
                %p 編集する
            .submit__btn
              = link_to destroy_user_session_path, method: :delete do
                ログアウト