%header
  .left-contents
    .search
      = search_field  "", "", class:"search__form", placeholder:"キーワードを入力"
      = link_to "#" do
        %button{type:"submit", class:"search__btn"}
          %i.fas.fa-search
  .center-contents
    .logo
      = link_to root_path, class:"logo-contents" do
        %i.fas.fa-screwdriver
        %p SorceMe
  .right-contents
    = link_to new_board_path do
      .boardCreateBtn
        %i.fas.fa-plus
    = link_to "#" do
      .mypageBtnBox
        .mypageBtn
