%div
  .container-fluid
    .row
      = render 'shared/board-header'
      .main
        .boardList
          = link_to "#" do
            .board
              %p 仕事
          = link_to "#" do
            .board
              %p プライベート
          = link_to "#" do
            .board
              %p プログラミング
          = link_to "#" do
            .board
              %p 英語
          = link_to "#" do
            .board
              %p レシピ
          = link_to "#" do
            .board
              %p ダイエット
      %footer
