%div
  .container-fluid
    .row
      = render 'shared/header'
      .main
        -if user_signed_in?
          = current_user.family_name
          = current_user.first_name
        = link_to new_user_session_path do
          ログイン
        = link_to destroy_user_session_path, method: :delete do
          ログアウト
        .boardList
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
