%div
  .container-fluid
    .row
      = render 'shared/header'
      .main
        .boardList
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 仕事
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プライベート
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p プログラミング
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p 英語
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p レシピ
          -# リンクは仮置き
          = link_to sources_path do
            .board
              %p ダイエット
